@use "../../../../assets/styles/variables" as *;

header {
  background-color: $primary-color;
  color: $text-color;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu li {
  position: relative;
}

.menu a {
  color: $text-color;
  text-decoration: none;
  padding: 10px;
  white-space: nowrap;
}

.submenu {
  display: none;
  position: absolute;
  background-color: $secondary-color;
  list-style: none;
  padding: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.menu li:hover .submenu {
  display: block;
}

.menu li:hover > a {
  background-color: $secondary-color;
  color: $text-color;
}

.submenu li:hover > a {
  background-color: $primary-color;
  color: $text-color;
}

.submenu li {
  padding: 10px 0px;
}

.submenu li a {
  white-space: nowrap;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.back-arrow {
  cursor: pointer;
  color: $text-color;
  padding: 10px;
  font-size: 18px;
}

.mobile-menu.active {
  display: block;
  transform: translateX(0);
}

.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: $primary-color;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu-list a {
  display: block;
  padding: 10px;
  color: $text-color;
  text-decoration: none;
}

.mobile-menu-list li {
  position: relative;
}

.mobile-submenu {
  display: none;
  background-color: $secondary-color;
  padding: 10px;
  margin-left: 20px;
}

.mobile-submenu li {
  margin: 0px 10px;
}

.mobile-submenu.active {
  display: block;
}

.mobile-menu-list li:hover > a {
  background-color: $secondary-color;
  color: $text-color;
}

.mobile-submenu li:hover > a {
  background-color: $primary-color;
  color: $text-color;
}

@media (max-width: 830px) {
  nav {
    width: 100%;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}
