<div class="anti-bullying">
  <h1>СТОП БУЛІНГ</h1>
  <h3>Антибулінгова політика</h3>

  <div class="policy-section">
    <p>
      СТВОРЕННЯ БЕЗПЕЧНОГО ОСВІТНЬОГО СЕРЕДОВИЩА, ЗАПОБІГАННЯ ТА ПРОТИДІЯ
      ПРОЯВАМ НАСИЛЬСТВА (БУЛІНГУ, ЦЬКУВАННЮ)
    </p>
    <p>
      Відповідно до Концепції реалізації державної політики у сфері реформування
      загальної середньої освіти «Нова українська школа» на період до 2029 року,
      яка схвалена розпорядженням Кабінету Міністрів України від 14 грудня 2016
      р. № 988-р, Концепції національно-патріотичного виховання дітей та молоді,
      затвердженої наказом Міністерства освіти і науки України від 16. 06. 2015
      №64, листа Міністерства освіти і науки України від 07.08.2018 №1/9-486
      «Про деякі питання організації в закладах освіти виховної роботи щодо
      безпеки й благополуччя дитини у 2018/2019 навчальному році» діяльність
      буде спрямована на виконання таких завдань:
    </p>
    <ul>
      <li>
        формування в учнів компетентностей, важливих для успішної соціалізації
        особистості;
      </li>
      <li>
        впровадження демократичної культури, захист прав дитини і формування
        демократичних цінностей;
      </li>
      <li>
        запобігання та протидія таким негативним явищам серед дітей та
        учнівської молоді як насильство, кібертретирування, булінг тощо;
      </li>
      <li>
        формування у дітей і підлітків життєвих навичок (психосоціальних
        компетентностей), які сприяють соціальній злагодженості, відновленню
        психологічної рівноваги;
      </li>
      <li>
        запобігання та протидія торгівлі людьми, формування у школярів таких
        життєвих навичок, як спілкування, прийняття рішень, критичне мислення,
        управління емоціями, стресами та конфліктними ситуаціями, формування
        цінностей та набуття відповідних компетентностей;
      </li>
      <li>
        формування морально-етичних, соціальних, громадянських ціннісних
        орієнтирів, виховання національно свідомої, духовно багатої, фізично
        досконалої особистості;
      </li>
      <li>
        профілактика девіантної поведінки, правопорушень та злочинності серед
        неповнолітніх;
      </li>
      <li>
        профілактика залежностей та шкідливих звичок, пропаганда здорового
        способу життя, збереження і зміцнення фізичного та психічного здоров’я
        як найвищої соціальної цінності;
      </li>
      <li>
        формування в школі творчого середовища, залучення учнів в позаурочний
        час до спорту, творчості, мистецтва, інших громадських заходів з метою
        їх позитивної самореалізації, соціалізації;
      </li>
      <li>
        розвиток творчої співпраці педагогічного колективу, учнів і батьків на
        засадах педагогіки партнерства.
      </li>
    </ul>
  </div>

  <div class="instructions-section">
    <h3>ЯК ПОБОРОТИ БУЛІНГ: ІНСТРУКЦІЯ ДЛЯ ДІТЕЙ</h3>
    <p>ЩО РОБИТИ, ЯКЩО ТИ СТАВ ЖЕРТВОЮ БУЛІНГУ</p>
    <ul>
      <li>
        Перше і найголовніше правило – не тримати це у секреті. Розкажи друзям,
        знайомим чи рідним про те, що тебе ображають у школі, цього не слід
        соромитись.
      </li>
      <li>
        Інколи допомогти з вирішенням складної ситуації у школі може абсолютно
        не пов’язана з цим людина: тренер у секції, куди ти ходиш після школи,
        або вчитель, до якого ти ходиш на додаткові заняття.
      </li>
      <li>
        Також не слід звинувачувати себе у тому, що тебе цькують. Ми говорили
        раніше, що кривдникам легко знайти жертву булінгу, адже для цього слід
        просто якось відрізнятись від оточуючих.
      </li>
      <li>
        Якщо цькування у школі перетворились зі словесних на фізичні – йди до
        директора школи або завуча та докладно розкажи їм про це. Також повідом
        про ситуацію батьків.
      </li>
      <li>
        Якщо у школі є психолог, то можна сміливо звернутись до нього, щоб
        відновити відчуття впевненості у своїх силах та зрозуміти, як діяти
        далі.
      </li>
      <li>
        Якщо цькують твого друга чи подругу, то одразу звернись до дорослих:
        вчителя, старших товаришів, родичів, батьків тощо.
      </li>
      <li>
        Якщо твій друг чи подруга поділилися з тобою, що вони потрапили у
        ситуацію булінгу, обов’язково говори з ними про це — вони потребують
        твоєї підтримки.
      </li>
      <li>
        У жодному разі не слід приєднуватись до групи, що цькує, та висміювати
        проблеми свого друга чи подруги.
      </li>
      <li>
        Якщо ви дорослий, який потерпав від булінгу колись, то не проходьте
        повз. Спробуйте захистити дитину, яку ображають. При цьому не слід
        ображати дітей, які цькують, адже деякі роблять це, тому що самі
        постраждали від насильства (вдома, у спортивній секції, в іншій школі
        тощо). У таких випадках вони можуть виміщати свій біль через знущання і
        приниження слабших за себе.
      </li>
      <li>
        Деякі діти булять, щоб ловити на собі захоплені погляди оточуючих, а
        відчуття переваги над іншими приносить їм задоволення. До того ж,
        нападаючи на когось вони захищаються від цькування. Іноді такі діти дуже
        імпульсивні і не можуть контролювати свій гнів. У таких випадках справа
        нерідко доходить і до фізичного насильства.
      </li>
      <li>
        Спробуйте повідомити про булінг людей зі школи, де це відбувається, або
        батьків дитини.
      </li>
    </ul>
  </div>

  <div class="contacts-section">
    <h3>Дитяча “Гаряча лінія”</h3>
    <p>Ви можете звернутись до фахівців:</p>
    <ul>
      <li>
        Залюбовська Олена Анатоліївна – начальник районної служби у справах
        дітей. Тел. 0971570787
      </li>
      <li>
        Фірсова Валентина Борисівна – директор районного центру соціальних служб
        для дітей та молоді. Тел. 0967610856
      </li>
      <li>
        Рижак Ольга Володимирівна – практичний психолог Павлиського ліцею імені
        В.О.Сухомлинського. Тел. 0960619147
      </li>
      <li>
        Сова Яна Русланівна – соціальний педагог Павлиського ліцею імені
        В.О.Сухомлинського. Тел. 0969097775
      </li>
    </ul>
  </div>
</div>
