<div class="address-container">
  <h2>Адреса</h2>
  <div class="address-content">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2137.3982791566905!2d33.362352225942196!3d48.924570560248746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d0a8fa26e1388f%3A0x2a94f69c1dab42dc!2z0J3QktCaICLQn9Cw0LLQu9C40YHRjNC60LAg0LfQsNCz0LDQu9GM0L3QvtC-0YHQstGW0YLQvdGPINGI0LrQvtC70LAg0IYt0IbQhtCGINGB0YLRg9C_0LXQvdGW0LIgLSDQu9GW0YbQtdC5INGW0LzQtdC90ZYg0JIu0J4u0KHRg9GF0L7QvNC70LjQvdGB0YzQutC-0LPQviI!5e0!3m2!1suk!2sua!4v1743391817116!5m2!1suk!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="contact-info">
      <h3>Наша адреса</h3>
      <p>
        Кіровоградська область,<br />
        Олександрійський район,<br />
        смт.Павлиш, вул. Сухомлинського, 4
      </p>
      <h3>Контактна інформація:</h3>
      <p>
        Телефон:<br />
        (05238) 22-356, (05238) 22-179
      </p>
      <p>E-mail: suhomschool&#64;ukr.net</p>
    </div>
  </div>
</div>
