<div class="school-pride">
  <h1>Гордість школи</h1>

  <section>
    <h2>Кравченко Михайло</h2>
    <img src="assets/images/prides/kravchenko.jpg" alt="Кравченко Михайло" />
    <p>
      Є членом спортивного клубу «Сайфа». Займається кіокушинкай карате. Має
      такі перемоги:
    </p>
    <ul>
      <li>
        ІІ місце у Відкритій першості Кіровоградської області з кіокушинкай
        карате (м.Олександрія, 2008 рік);
      </li>
      <li>ІІІ місце в першості м.Кіровограда (2008 рік);</li>
      <li>І місце у Відкритій першості м.Олександрії (2008 рік);</li>
      <li>
        ІІ місце у Відкритій першості Черкаської області (м.Умань, 2009 рік);
      </li>
      <li>
        Нагороджений Дипломом за демонстрацію вишуканої техніки, бійцівський дух
        та волю до перемоги (м.Умань, 2009 рік);
      </li>
    </ul>
    <p>
      Крім того, Михайло відвідує школу мистецтв (клас «фортепіано»). Він
      відмінник навчання.
    </p>
  </section>

  <section>
    <h2>Пономарьов Юрій</h2>
    <img src="assets/images/prides/Ponomarov.jpg" alt="Пономарьов Юрій" />
    <p>
      З 2005 року навчається в Павлиській школі мистецтв по класу баяну.
      Перевагу віддає класичній музиці, наполегливо підвищує рівень виконавчої
      майстерності, дуже швидко сприймає і засвоює матеріал музичної грамоти, що
      дає йому можливість повністю реалізувати свій потенціал. Юрій
      неодноразовий лауреат і переможець музичних конкурсів різних рівнів:
    </p>
    <ul>
      <li>
        ІІІ місце у відбірковому турі Всеукраїнського фестивалю виконавців на
        народних інструментах «Провесінь»;
      </li>
      <li>
        ІІІ місце у відкритому Всеукраїнському конкурсі баяністів-акордеоністів
        «Вічний рух» (місто Дрогобич);
      </li>
      <li>
        ІІ місце в обласному конкурсі «Паросток» (номінація «Народні
        інструменти»);
      </li>
      <li>
        ІІІ місце, Диплом з відзнакою у другому Міжнародному конкурсі
        баяністів-акордеоністів «Вічний рух» (місто Дрогобич).
      </li>
    </ul>
    <p>Юрій активний у житті школи, організований і відповідальний.</p>
  </section>

  <section>
    <h2>Скорик Тарас</h2>
    <img src="assets/images/prides/skorik_t.jpg" alt="Скорик Тарас" />
    <p>
      Є членом спортивного клубу «Сайфа». Займається кіокушинкай карате.
      Неодноразовий переможець змагань в різних рівнях:
    </p>
    <ul>
      <li>І місце у Відкритому кубку України (м.Львів, 2007 рік);</li>
      <li>
        І місце у Відкритій першості Черкаської області (м.Черкаси, 2007 рік);
      </li>
      <li>ІІ місце у першості Дніпровського району (м.Київ, 2007 рік);</li>
      <li>
        ІІ місце у Відкритій першості Черкаської області (м.Черкаси, 2008 рік);
      </li>
      <li>ІІ місце на чемпіонаті України (м.Вінниця, 2008 рік);</li>
      <li>
        ІІ місце у Відкритій першості Черкаської області (м.Умань, 2009 рік).
      </li>
    </ul>
    <p>
      Тарас – відмінник навчання, гарно малює, пише твори. У 2007 році зайняв
      ІІІ місце у районному конкурсі малюнків на тему «Людина і ліс». У 2009
      році – ІІІ місце у конкурсі творів «Людина і ліс».
    </p>
  </section>

  <section>
    <h2>Медалісти</h2>
    <button (click)="toggleAccordion()">Показати/Приховати</button>
    <div [hidden]="!isAccordionOpen">
      <table>
        <thead>
          <tr>
            <th>Рік випуску</th>
            <th>Прізвище, ім’я, по батькові</th>
            <th>Медаль</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2013-2014 н.р.</td>
            <td>Сіра Яна Сергіївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2013-2014 н.р.</td>
            <td>Шевченко Руслан Олегович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2013-2014 н.р.</td>
            <td>Щербина Максим Миколайович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2013-2014 н.р.</td>
            <td>Барзіон Владислава Володимирівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2012-2013 н.р.</td>
            <td>Бицюк Руслан Олександрович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2012-2013 н.р.</td>
            <td>Іванов Ярослав Ігорович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2012-2013 н.р.</td>
            <td>Маховська Катерина Едуардівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2012-2013 н.р.</td>
            <td>Лук’яненко Дар’я Станіславівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2011-2012 н.р.</td>
            <td>Єрьоміна Ілона Сергіївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2011-2012 н.р.</td>
            <td>Пуголовкіна Оксана Олегівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2011-2012 н.р.</td>
            <td>Старинко Ігор Олександрович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2010-2011 н.р.</td>
            <td>Кіш Іванна Іванівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2010-2011 н.р.</td>
            <td>Лук’яненко Максим Сергійович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2010-2011 н.р.</td>
            <td>Пироженко Аліна Олегівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2010-2011 н.р.</td>
            <td>Рубаненко Сергій Олексійович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2010-2011 н.р.</td>
            <td>Русенко Олена Вікторівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Кальніцький Дмитро Олександрович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Балабуха Аліна Сергіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Височин Григорій Григорович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Довбня Альона Миколаївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Малюченко Ірина Олегівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Сахаренко Оксана Олександрівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2009-2010 н.р.</td>
            <td>Троян Альбіна Ігорівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2008-2009 н.р.</td>
            <td>Торба Альона Вікторівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2008-2009 н.р.</td>
            <td>Путря Вікторія Юріївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2008-2009 н.р.</td>
            <td>Супрунюк Ростислава Василівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Кошуренко Анжела Володимирівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Малюченко Катерина Олегівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Петрова Анна Олександрівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Раскатова Наталія Миколаївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Россочинська Оксана Павлівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Височин Іван Григорович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Римар Ростислав Володимирович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Стукалова Інна Сергіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2007-2008 н.р.</td>
            <td>Ширяєва Алла Миколаївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Корабльова Анна Володимирівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Малолітко Тетяна Павлівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Сахаренко Назар Олександрович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Черньонкова Альбіна Віталіївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Бардаш Ольга Сергіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Головченко Маргарита Олександрівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Луц Наталія Віталіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Мельніченко Анна Вікторівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Михайлюченко Олександр Миколайович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Момот Михайло Вікторович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Назаренко Максим Сергійович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2006-2007 н.р.</td>
            <td>Оніщенко Максим Іванович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2005-2006 н.р.</td>
            <td>Кравченко Людмила Леонідівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2005-2006 н.р.</td>
            <td>Нижник Віталій Васильович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2005-2006 н.р.</td>
            <td>Головченко Дарина Олександрівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Берун Вікторія Юріївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Болбас Аліна Анатоліївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Гулій Лариса Анатоліївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Салікова Альона Олегівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Сінчук Мирослава Юріївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Ахкозова Ірина Олексіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Бондаренко Сергій Вікторович</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Виходець Світлана Олексіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Мельниченко Катерина Вікторівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Путря Світлана Юріївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Таранець Тетяна Миколаївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2004-2005 н.р.</td>
            <td>Терещенко Віта Володимирівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Войта Катерина Сергіївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Калюх Ірина Юріївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Омельченко Оксана Володимирівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Хуторна Олена Олександрівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Щукіна Тетяна Миколаївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Майборода Тетяна Анатоліївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2003-2004 н.р.</td>
            <td>Петрова Ольга Олександрівна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Залоїло Артем Олександрович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Зоря Володимир Володимирович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Зубашевська Анна Леонідівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Кривенко Олександр Володимирович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Литвин Юлія Олександрівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Омельченко Роман Юрійович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Осьмак Маргарита Володимирівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Степанова Аліна Олексіївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Стеценко Леся Василівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2002-2003 н.р.</td>
            <td>Шам Альона Вікторівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2001-2002 н.р.</td>
            <td>Богданова Юлія Миколаївна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2001-2002 н.р.</td>
            <td>Однолько Олена Володимирівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2001-2002 н.р.</td>
            <td>Овчаренко Наталія Олексіївна</td>
            <td>срібна</td>
          </tr>
          <tr>
            <td>2000-2001 н.р.</td>
            <td>Даршт Ірина Вікторівна</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2000-2001 н.р.</td>
            <td>Колєсніков Олександр Сергійович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2000-2001 н.р.</td>
            <td>Найденко Олександр Леонідович</td>
            <td>золота</td>
          </tr>
          <tr>
            <td>2000-2001 н.р.</td>
            <td>Найденко Тетяна Леонідівна</td>
            <td>срібна</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
