<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Вакансії</h3>
      <a href="/vacancies">Переглянути вакансії</a>
    </div>
    <div class="footer-section">
      <h3>Авторські права</h3>
      <p>
        &copy; 2025 Павлиський ліцей імені В.О.Сухомлинського. Всі права
        захищені.
      </p>
    </div>
    <div class="footer-section">
      <h3>Контактна інформація</h3>
      <p>Телефон: (05238) 22-356, (05238) 22-179</p>
      <p>E-mail: suhomschool&#64;ukr.net</p>
    </div>
    <div class="footer-section">
      <h3>Соціальні мережі</h3>
      <a href="https://www.facebook.com" target="_blank">
        <img src="assets/icons/facebook-icon.png" alt="Facebook" />
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <img src="assets/icons/youtube-icon.png" alt="YouTube" />
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="assets/icons/instagram-icon.png" alt="Instagram" />
      </a>
    </div>
  </div>
</footer>
