<div class="psychologists-advice">
  <h1>Психологи радять</h1>
  <div class="large-image-container">
    <img
      [src]="currentImage.src"
      [alt]="currentImage.alt"
      class="large-image"
    />
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let image of images">
      <img
        [src]="image.src"
        [alt]="image.alt"
        class="d-block w-100"
        (mouseover)="showLargeImage(image)"
        (click)="showLargeImage(image)"
      />
    </ng-template>
  </owl-carousel-o>
</div>
