<div class="psychologists-advice">
  <h1>Психологи радять</h1>
  <div class="gallery">
    <img src="assets/images/advices/1.jpg" alt="Фото 1" />
    <img src="assets/images/advices/2.jpg" alt="Фото 2" />
    <img src="assets/images/advices/3.jpg" alt="Фото 3" />
    <img src="assets/images/advices/4.jpg" alt="Фото 4" />
    <img src="assets/images/advices/5.jpg" alt="Фото 5" />
    <img src="assets/images/advices/6.jpg" alt="Фото 6" />
    <img src="assets/images/advices/7.jpg" alt="Фото 7" />
    <img src="assets/images/advices/8.jpg" alt="Фото 8" />
    <img src="assets/images/advices/9.jpg" alt="Фото 9" />
    <img src="assets/images/advices/10.jpg" alt="Фото 10" />
    <img src="assets/images/advices/11.jpg" alt="Фото 11" />
    <img src="assets/images/advices/12.jpg" alt="Фото 12" />
    <img src="assets/images/advices/13.jpg" alt="Фото 13" />
    <img src="assets/images/advices/14.jpg" alt="Фото 14" />
    <img src="assets/images/advices/15.jpg" alt="Фото 15" />
    <img src="assets/images/advices/16.jpg" alt="Фото 16" />
    <img src="assets/images/advices/17.jpg" alt="Фото 17" />
    <img src="assets/images/advices/18.jpg" alt="Фото 18" />
    <img src="assets/images/advices/19.jpg" alt="Фото 19" />
    <img src="assets/images/advices/20.jpg" alt="Фото 20" />
    <img src="assets/images/advices/21.jpg" alt="Фото 21" />
    <img src="assets/images/advices/22.jpg" alt="Фото 22" />
    <img src="assets/images/advices/23.jpg" alt="Фото 23" />
    <img src="assets/images/advices/24.jpg" alt="Фото 24" />
    <img src="assets/images/advices/25.jpg" alt="Фото 25" />
    <img src="assets/images/advices/26.jpg" alt="Фото 26" />
  </div>
</div>
