<div class="distance-learning">
  <h1>Дистанційне навчання</h1>
  <h2>Як налагодити освітній процес в умовах дистанційного навчання</h2>
  <p>
    Технології дистанційного та змішаного навчання за рік пандемії коронавірусу
    стали вже звичними для шкіл. Державна служба якості освіти також
    пристосувала інструментарій проведення інституційного аудиту до умов
    дистанційної або частково дистанційної роботи закладів. Адаптації потребує
    організація освітньої діяльності, щоб заклади продовжували працювати якісно
    та ефективно і в умовах очного навчання, і онлайн. Змінювати слід і всі
    компоненти системи освітнього процесу школи.
  </p>
  <p>
    Розглянемо, як директорові та педагогам налагодити роботу в умовах
    дистанційного навчання.
  </p>

  <section>
    <h3>Організація освітнього процесу</h3>
    <h4>Розклад</h4>
    <p>
      Важливо в організації дистанційного навчання узгодити розклад уроків з
      особливостями проведення онлайн-занять. На формування розкладу впливають
      освітні програми, навчальні плани, санітарні вимоги тощо, втім є і
      суб’єктивні чинники, як-от запит від батьків розпочинати заняття пізніше.
    </p>
    <p>Настанови щодо формування розкладу в умовах дистанційного навчання:</p>
    <ul>
      <li>
        Оберіть єдину інтернет-платформу для розміщення електронних освітніх
        ресурсів, проведення онлайн-занять. Це мінімізує труднощі та плутанину,
        зніме дещо проблему комунікації між учасниками освітнього процесу.
      </li>
      <li>
        Дотримуйтесь санітарного регламенту та забезпечуйте черговість
        синхронного й асинхронного навчання.
      </li>
      <li>
        Порадьтеся з батьками учнів щодо зручного часу проведення онлайн-занять.
        В умовах дистанційного навчання розклад можна зміщувати в часі,
        наприклад розпочинати заняття пізніше, робити тривалу перерву, щоб учні
        могли перепочити, тощо. Особливо актуальним це є для навчання дітей з
        особливими освітніми потребами.
      </li>
      <li>
        Забезпечте можливість консультацій. В умовах віддаленого навчання в
        учнів виникає потреба проконсультуватися з учителем. Організація
        консультаційних годин з різних навчальних предметів дасть змогу
        компенсувати відсутність особистого спілкування учнів із вчителем.
      </li>
    </ul>
  </section>

  <section>
    <h4>Інтернет-платформа</h4>
    <p>
      Обрання єдиної інтернет-платформи для забезпечення освітнього процесу в
      умовах дистанційного навчання спростить взаємодію учасників освітнього
      процесу. Разом з тим, важливо пам’ятати, що учні можуть мати труднощі з
      доступом до того чи іншого каналу комунікації, інтернет-платформи тощо. У
      такому разі важливо передбачити для окремих учнів альтернативні рішення.
    </p>
    <p>
      На що варто звертати увагу при обранні інтернет-платформи для
      дистанційного навчання:
    </p>
    <ul>
      <li>
        Доступність. Обирайте платформу, яка є у відкритому доступі, не потребує
        встановлення спеціального програмного забезпечення тощо.
      </li>
      <li>
        Можливість ідентифікації учасників. Вчитель повинен мати змогу
        ідентифікувати всіх учнів, зареєстрованих у системі або присутніх на
        онлайн-уроці. Це перш за все питання безпеки.
      </li>
      <li>
        Структурованість матеріалу. Учням буде зручніше працювати із платформою,
        коли матеріал у ній буде структурований, тобто розміщений у вигляді
        цілісних навчальних тем, курсів. Це сприятиме організації віддаленої
        роботи учнів, вибору власної швидкості опанування навчального матеріалу.
      </li>
      <li>
        Наявність онлайн-журналу. Учнівство звикло мати доступ до своїх оцінок,
        переглядати їх у журналі після занять. Можливість робити це онлайн –
        вимога часу.
      </li>
      <li>
        Зворотний зв’язок. Це дасть змогу учням оперативно отримувати відгук від
        вчителя щодо виконаних завдань тощо.
      </li>
    </ul>
  </section>

  <section>
    <h3>Педагогічна діяльність</h3>
    <p>
      В умовах дистанційного навчання важливо застосувати інші форми й методи
      роботи. Не зовсім доцільно пропонувати учню опрацювати текст підручника,
      адже шкільні підручники спрямовані на очне навчання. Учитель має
      адаптувати навчальні ресурси відповідно до особливостей класу, можливостей
      учнів. Водночас під час проведення навчальних занять онлайн учитель
      обмежений у прийомах роботи. Відрізняється і стиль навчання дітей: в
      онлайн-режимі частина учнів можуть втрачати динаміку, інші ж навпаки –
      проявляти більшу активність та ліпше засвоювати матеріал. У той же час
      навчання з використанням дистанційних технологій відкриває нові можливості
      для реалізації індивідуальної освітньої траєкторії.
    </p>
    <p>Поради педагогам для роботи в умовах дистанційного навчання:</p>
    <ul>
      <li>
        Адаптуйте матеріал. В умовах поділу уроку на синхронну та асинхронну
        частини навчальні матеріали потрібно відповідно адаптувати. Подумайте і
        визначте, що озвучити під час онлайн-уроку, а яку частину матеріалу
        надати на самостійне опрацювання, роботу в групах тощо.
      </li>
      <li>
        Записуйте та зберігайте онлайн-уроки. Це дасть можливість учням, які
        пропустили урок, наздогнати матеріал.
      </li>
      <li>
        Урізноманітнюйте форми роботи. Дистанційне навчання – це не лише
        онлайн-уроки (в ZOOM, MS Teams тощо). Онлайн-формат взаємодії дає змогу
        учням працювати в групах, розробляти проєкти тощо. Партнерство у роботі
        учнів можна використовувати і під час онлайн-уроку для виконання
        коротких завдань, і для більш масштабних завдань, що потребують
        тривалішого часу виконання.
      </li>
      <li>
        Приділяйте більше уваги результату, а не процесу. Відсутність достатньої
        кількості комп’ютерів у сім’ї, проблеми з доступом до інтернету чи інші
        труднощі можуть завадити учням відвідувати онлайн-уроки. Втім технології
        дистанційного навчання дають змогу компенсувати відсутність на
        онлайн-уроці та отримати результат – учні можуть надолужити пропущене,
        переглянувши запис уроку, ознайомившись із електронними освітніми
        ресурсами, виконавши завдання.
      </li>
    </ul>
  </section>

  <section>
    <h3>Підтримка педагогічного колективу</h3>
    <p>
      Важливою частиною успішної педагогічної діяльності умовах за дистанційного
      навчання є підтримка педагогічного колективу з боку директора.
    </p>
    <p>
      Як директорові продемонструвати підтримку роботи педагогів в умовах
      дистанційного навчання?
    </p>
    <ul>
      <li>
        Забезпечте методичну та консультаційну підтримку. Організуйте навчання,
        семінари, обмін досвідом між педагогами.
      </li>
      <li>
        Не вимагайте звітності. Робота у дистанційному режимі часто вимагає від
        педагогів значно більшого часу на підготовку навчального матеріалу та
        комунікацію з учнями.
      </li>
      <li>
        Довіряйте. Надмірний контроль зі сторони керівництва, втручання в роботу
        вчителя під час використання технологій дистанційного навчання може
        додавати стресу учасникам освітнього процесу та демотивувати вчителя.
      </li>
      <li>
        Забезпечте педагогам повноцінний лікарняний у випадку хвороби.
        Технології дистанційного навчання, безумовно, дають змогу запобігти
        поширенню вірусів під час уроків, не перериваючи спілкування учнів між
        собою та вчителями. Однак педагоги мають право перебувати на
        лікарняному, не проводячи занять. Це саме стосується й учнів.
      </li>
    </ul>
  </section>

  <section>
    <h3>Система оцінювання</h3>
    <p>
      Зазнали змін і види завдань, які пропонуються учням. Завдання й форми
      роботи, що використовувалися в умовах очного навчання, можуть бути
      неприйнятними під час дистанційного. Наприклад, за використання технологій
      дистанційного навчання неможливо виконати завдання на перевірку знань,
      відтворення тексту підручника. Очевидно, що змінивши форми роботи під час
      уроків, потрібно змінювати і форми оцінювання.
    </p>
    <p>Як вчителеві налагодити систему оцінювання?</p>
    <ul>
      <li>
        Оприлюднюйте критерії оцінювання до кожного завдання. Так учні наперед
        розумітимуть, як та за яким принципом формується оцінка.
      </li>
      <li>
        Давайте зворотній зв’язок. Практика показує, що в умовах дистанційного
        навчання найменші учні найбільше потребують детальних роз’яснень та
        зворотного зв’язку. Негативна оцінка може не дати достатньо інформації
        для учнів, натомість після пояснення, за що вона отримана, учень зможе
        порефлексувати про свої помилки.
      </li>
      <li>
        Не обмежуйте в часі. Учні мають різну динаміку роботи в онлайн-режимі. А
        в когось може повільніше працювати комп’ютер чи інтернет. Тому завдання,
        обмежені в часі, не рекомендовані для оцінювання результатів навчання
        учнів.
      </li>
      <li>
        Шукайте альтернативи. Звичні тестові завдання в умовах дистанційного
        навчання корисні для саморефлексії учнів. А для контрольних завдань
        ліпше знайти альтернативні форми, як-от тематичне есе, творче завдання
        тощо.
      </li>
    </ul>
  </section>

  <section>
    <h3>Освітнє середовище</h3>
    <p>
      За дистанційного навчання значну частину роботи зі створення освітнього
      середовища стали виконувати батьки, забезпечуючи дитину технікою, доступом
      до інтернету, облаштовуючи робоче місце. Втім директорові школи не варто
      забувати про такі важливі аспекти роботи:
    </p>
    <ul>
      <li>
        Безпека. Звертайте особливу увагу на безпечність доступу до
        інтернет-платформи, на якій відбувається дистанційне навчання. Профілі
        учнів мають бути підписані їхніми іменами.
      </li>
      <li>
        Правила поведінки. Звичні правила поведінки у школі не працюють в
        онлайн-форматі, тому варто адаптувати їх до дистанційного навчання –
        встановити правила спілкування під час зум-уроків тощо.
      </li>
      <li>
        Комунікація з батьками. Дистанційне навчання потребує частішої взаємодії
        з батьками, зокрема щодо поведінки дітей, їхнього режиму роботи,
        виконання завдань. Важливо підтримувати відкритий діалог з батьками,
        надавати їм рекомендації та поради щодо організації навчального процесу
        вдома.
      </li>
    </ul>
  </section>
</div>
