<div class="admission">
  <h1>До уваги батьків майбутніх першокласників!</h1>
  <p>
    Павлиський ліцей імені В.О.Сухомлинського оголошує набір дітей до 1 – х
    класів {{ nextYear }}-{{ nextYear + 1 }} н.р.
  </p>

  <section>
    <h2>Необхідні документи для зарахування</h2>
    <ul>
      <li>Заява одного з батьків, або осіб, що їх заміняють.</li>
      <li>
        Копія свідоцтва про народження дитини, або документа що посвідчує особу
        здобувача освіти.
      </li>
      <li>
        Медична довідка за формою первинної облікової документації № 086 – 1/о.
      </li>
      <li>
        Для осіб з числа ВПО подається довідка про взяття на облік внутрішньо
        переміщеної особи.
      </li>
    </ul>
    <p>
      Документи приймаються щодня, до 31 травня з 9.00 до 16.00 (крім вихідних).
    </p>
    <p>Чекаємо Вас за адресою: вул. Сухомлинського, 4, смт.Павлиш</p>
    <p class="signature">Адміністрація закладу</p>
  </section>

  <section>
    <h2>Зарахування до закладу</h2>
    <p>
      Відповідно до наказу директора ОЗЗСО від 10.01.{{ currentYear }} року «Про
      порядок зарахування, відрахування та переведення учнів»:
    </p>
    <ol>
      <li>
        Зарахування учнів здійснюється на підставі заяви про зарахування до
        закладу освіти одного з батьків дитини.
      </li>
      <li>
        До заяви додаються такі документи:
        <ul>
          <li>
            копія свідоцтва про народження дитини або документа, що засвідчує
            особу;
          </li>
          <li>
            оригінал або копія медичної довідки за формою первинної облікової
            документації № 086-1/о;
          </li>
          <li>оригінал або копія відповідного документа про освіту.</li>
        </ul>
      </li>
      <li>
        У разі наявності та за бажанням одного з батьків дитини до заяви про
        зарахування може додаватися оригінал або копія висновку про комплексну
        психолого-педагогічну оцінку розвитку дитини чи витягу з протоколу
        засідання психолого-медико-педагогічної консультації.
      </li>
      <li>
        Зарахування учнів до початку і впродовж навчального року здійснювати
        тільки при наявності вільних місць.
      </li>
      <li>
        Переведення учнів до іншого закладу освіти здійснювати відповідно до
        розділу ІІІ Порядку зарахування, відрахування та переведення учнів до
        державних та комунальних закладів освіти для здобуття повної загальної
        середньої освіти.
      </li>
      <li>
        При переведенні учнів з іншого навчального закладу упродовж п’яти
        робочих днів з дня отримання від закладу освіти документів учень чи один
        із його батьків повинен подати до закладу освіти:
        <ul>
          <li>заяву про зарахування;</li>
          <li>особову справу учня.</li>
        </ul>
      </li>
      <li>
        Відрахування учнів здійснювати відповідно до розділу ІV Порядку
        зарахування, відрахування та переведення учнів до державних та
        комунальних закладів освіти для здобуття повної загальної середньої
        освіти.
      </li>
      <li>
        Відрахування учнів здійснювати шляхом видання відповідного наказу по
        закладу.
      </li>
    </ol>
  </section>

  <section>
    <h2>Як записати майбутнього першачка до школи (інструкція)</h2>
    <p>
      З 1 квітня починається прийом заяв про зарахування дітей до перших класів
      на {{ nextYear }}-{{ nextYear + 1 }} навчальний рік. Батьки, чиї діти
      мають вперше піти до школи цього року, мусять подати електронну заяву до
      обраної ними школи. Ми докладно розібралися як це працює.
    </p>
    <p>
      Подавати заяву про вступ до школи мають лише батьки дітей 6-7 років, які
      збираються почати навчання у {{ nextYear }}-{{ nextYear + 1 }} навчальному
      році. Тобто це не “електронна черга” в школу, та для дітей молодшого віку
      цього робити не потрібно.
    </p>
    <h3>Запис дитини до школи онлайн. Покрокова інструкція</h3>
    <ol>
      <li>
        Зареєструйтесь в системі електронної реєстрації в заклади загальної
        середньої освіти тут.
      </li>
      <li>Оберіть школу серед перелічених.</li>
      <li>
        Створіть заявку та відправте її. Для цього необхідні дані зі свідоцтва
        про народження дитини. Скористайтесь детальною ілюстрованою інструкцією.
      </li>
      <li>
        Зв’яжіться зі школою електронною поштою чи телефоном та запитайте про
        можливість підтвердити заяву віддалено.
      </li>
      <li>
        Підтвердіть електронну заяву оригіналами та фотокопіями документів.
      </li>
    </ol>
    <p>
      Зазначимо, серед необхідних документів для вступу до школи є медична
      довідка учня про профогляд (№ 086-1/о). Але оскільки на час карантину в
      амбулаторіях не проводять огляди, цю довідку можна буде надати пізніше.
      Коли саме — наразі невідомо.
    </p>
    <p>Зазначимо, право першочергового зарахування мають діти:</p>
    <ul>
      <li>які проживають на території обслуговування школи;</li>
      <li>чиї рідні навчаються або працюють в цій школі;</li>
      <li>які навчалися в дошкільному підрозділі цієї ж школи.</li>
    </ul>
    <p>
      Додамо, у {{ nextYear }} році електронна реєстрація майбутніх першачків
      була б обов’язковою і без карантину, в рамках цифровізації країни.
    </p>
  </section>
</div>
