@use "../../../assets/styles/variables" as *;

.psychologists-advice {
  padding: 20px;
  background-color: $background-color;
  color: $dark-text-color;
  font-family: "Arial", sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: $primary-color;
    font-size: 2.5em;
  }

  .contact-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }

    img {
      width: 20%; // Зменшення розміру зображення
      height: auto;
      object-fit: contain;
      margin: 0 20px;
    }

    .text {
      width: 60%;
      text-align: left;

      h2 {
        color: $secondary-color;
        font-size: 2em;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2em;
        color: $dark-text-color;
      }
    }
  }
}
