<div class="page-container">
  <div class="admission-container">
    <h2>Вступ до школи</h2>
    <p>
      <strong>До уваги батьків майбутніх першокласників!</strong><br />
      Павлиський ліцей імені В.О.Сухомлинського оголошує набір дітей до 1-х
      класів 2024-2025 н.р.
    </p>
    <h3>Необхідні документи:</h3>
    <ul>
      <li>Заява одного з батьків, або осіб, що їх заміняють.</li>
      <li>
        Копія свідоцтва про народження дитини або документа, що засвідчує особу
        здобувача освіти.
      </li>
      <li>
        Медична довідка за формою первинної облікової документації № 086-1/о.
      </li>
      <li>
        Для осіб з числа ВПО подається довідка про взяття на облік внутрішньо
        переміщеної особи.
      </li>
    </ul>
    <p>
      Документи приймаються щодня, до 31 травня з 9.00 до 16.00 (крім
      вихідних).<br />
      <strong>Чекаємо Вас за адресою:</strong><br />
      вул. Сухомлинського, 4, смт.Павлиш
    </p>
    <p class="admin">Адміністрація закладу</p>
  </div>
</div>
