<div class="philosophy">
  <h1>Філософія</h1>

  <div id="mission" class="offset"></div>
  <section>
    <h2>Місія</h2>
    <p>
      Павлиський ліцей імені В.О. Сухомлинського пропонує своїм учням освітній
      досвід, який максимально розкриває їхній навчальний потенціал. Вони
      прямуватимуть шляхом, на якому стануть незалежними учнями з широким
      кругозором, навчаться критично мислити та легко вирішувати проблеми, а
      також віддано розвиватимуть свої таланти. Саме так вони створюватимуть
      кращу версію як себе, так і суспільства. Для цього ми забезпечуємо
      довірливе, турботливе й співчутливе середовище, де учні зможуть розвивати
      морально-етичні духовні якості та вміння розуміти інших.
    </p>
  </section>

  <div id="participation" class="offset"></div>
  <section>
    <h2>Участь батьків</h2>
    <p>
      Ми приймаємо до Павлиського ліцею не лише дитину, а й найближчих для неї
      людей — тата і маму, і бачимо батьків активними учасниками
      навчально-виховного процесу нарівні з учнями та вчителями. Навчання – це
      не двосторонній процес взаємодії учнів та вчителів, в ньому присутня і
      третя, не менш важлива, сторона – батьки.
    </p>
    <p>
      Такий підхід є абсолютно природним, адже сім’я – це середовище первинної
      соціалізації дитини, джерело її емоційної підтримки, засіб передачі та
      збереження цінностей.
    </p>
    <p>Ми чекаємо від батьків:</p>
    <ul>
      <li>
        віри у свою дитину та прийняття не лише її сильних сторін, а й слабких;
      </li>
      <li>
        бажання розвивати творчі здібності та всіляко заохочувати прояви
        ініціативи свого сина чи доньки;
      </li>
      <li>
        довіри до всіх, хто працюватиме з дитиною: до керівництва школи,
        вчителів, психологів, адже всі вони — професіонали, віддані своїй
        справі, які дивляться з вами в одному напрямку і готові до діалогу та
        співпраці;
      </li>
      <li>
        чіткого розуміння, що навчання для дитини є своєрідною роботою, що
        повинна цінуватися і сприйматися так само, як і ваша щоденна робота;
      </li>
      <li>
        зацікавленості шкільними справами дитини та готовності повідомити Школі,
        якщо виникають зміни у поведінці дитини;
      </li>
      <li>
        толерантності до думок, традицій та матеріального статку інших родин;
      </li>
      <li>підтримки здорового способу життя;</li>
      <li>поваги до української мови, культури та традицій.</li>
    </ul>
    <p>
      Ми завжди відкриті для вас і впевнені, що разом нам вдасться вповні
      досягти поставленої мети.
    </p>
  </section>

  <div id="values" class="offset"></div>
  <section>
    <h2>Цінності</h2>
    <ul>
      <li>
        розкриття потенціалу кожної дитини, сприяння її творчій та пізнавальній
        активності;
      </li>
      <li>повага до дитини, надання їй свободи вибору;</li>
      <li>
        формування навичок роботи у колективі, толерантності, вміння ефективно
        співпрацювати;
      </li>
      <li>
        прозорі та відкриті стосунки між усіма учасниками навчального процесу —
        учнями, викладачами і батьками;
      </li>
      <li>
        виховання особистості дитини з урахуванням найкращих національних та
        світових традицій для формування відкритої свідомості сучасного
        громадянина;
      </li>
      <li>
        безперервний розвиток вчителів, підвищення їхнього професійного рівня
        через мотивацію та саморозвиток.
      </li>
    </ul>
  </section>

  <div id="skills" class="offset"></div>
  <section>
    <h2>Навички XXI століття</h2>
    <p>
      На початку ХХІ сторіччя понад 200 організацій та провідних компаній світу
      запропонували перелік навичок, які знадобляться молодим людям для того,
      щоб бути успішними в умовах сучасного глобалізованого та мінливого світу.
    </p>
    <p>
      Мета навчального підходу Павлиського ліцею, до якої ми прямуємо та якої
      прагнемо досягти — формування у наших учнів Навичок ХХІ століття:
    </p>
    <h3>Навчальні та інноваційні навички</h3>
    <ul>
      <li>Творчість та інноваційність</li>
      <li>Критичне мислення і вміння вирішувати проблеми</li>
      <li>Комунікативні навички та навички співробітництва</li>
    </ul>
    <h3>Вміння працювати з інформацією, медіа та комп’ютерні навички</h3>
    <ul>
      <li>Інформаційна грамотність</li>
      <li>Медіаграмотність</li>
      <li>IКT-грамотність</li>
    </ul>
    <h3>Життєві та кар’єрні навички</h3>
    <ul>
      <li>Гнучкість та пристосовуваність</li>
      <li>Ініціатива та самоспрямованість</li>
      <li>
        Соціальні навички та навички, пов’язані зі співіснуванням різних культур
      </li>
    </ul>
  </section>

  <button [routerLink]="['/parent-handbook']">Повернутися до довідника</button>
</div>
