@use "sass:color";

$primary-color: #4caf50;
$secondary-color: #66bb6a;
$text-color: #fff;
$dark-text-color: #333;
$background-color: #f9f9f9;
$button-hover-color: color.scale($secondary-color, $lightness: -10%);
